<!DOCTYPE html>
<html lang="en">

    <head>
        <title>error</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .anonymous {

                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 10rem;
                margin-left: 35rem;
            }

            .user-btn {
                margin-left: 5rem;
            }
        </style>
    </head>

    <body>

        <div class="anonymous">
            <h3> Don't have an account</h3>

            <br>
            <div class="user-btn">
                <a href="/signup/"><button type="button" class="btn btn-warning ">Sign Up</button>
                </a>
                <a href="/login/"><button type="button" class="btn btn-warning ">Login</button>
                </a>
            </div>

        </div>

    </body>

</html>